
{{!-- partial block helps dry up the index.handlebars code so we don't repeat ourself. --}}

<li>

	{{ taco_name }}

	<button class="changeto-devoured" data-id="{{id}}" data-newlydevoured="{{sleep}}">
		{{#if devoured}} Order Again? {{else}} Devour it! {{/if}}
	</button>

	<button class="remove-taco" data-id="{{id}}">Delete Taco. </button>

</li>

